
 input{
  background-color: black;
  color:red;
  font-size:25px;
  margin-left:15px;
  border:none;
  text-align:center;
  outline:0;
  text-transform: uppercase;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}
input[type=submit]{
  background-color: black;
  border:none;
  outline:0;
}
body{
 text-align:center;
 background:black;
 margin-top: 100px;
}
#container2{
  border: 3px solid white;
  border-radius:8px;
  width:350px;
  margin:auto;
}
#container1{
  width:350px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
  color:white;
  font-size:50px;
}
button{
  padding:40px 20%;
  border:none;
  outline:0;
}
#Up, #Down{
  color:red;
  font-size:20px;
  background-color:black;
}
#reset{
  color:red;
  font-size:20px;
  padding:10px 20px ;
  background-color:black;
}

  